*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro",Arial,sans-serif;
}
#main{
  /* background-color: red; */
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
#nav{
  /* height: 64px; */
  display: flex;
  justify-content: space-between;
  padding: 15px 10vw;
  width: 100vw;
  background-color: #032541;
  position: relative;
  font-size: 17px;
}
#left-nav{
  display: flex;
  align-items: center;
  gap: 2vw;
}
#left-nav img{
  height: 22px;
}
.nav-link{
  text-decoration: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  /* background-color: red; */
  padding: 10px 0;
}
.nav-link:hover .options{
  display: flex;
  z-index: 22;

}
.options:hover{
  display: flex;
  z-index: 22;
}
.options{
  position: absolute;
  background-color: white;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px;
  border-radius: 10px;
  margin-top: 10px;
  display: none;
  overflow: hidden;
}
.opt-links{
  color: black;
  text-decoration: none;
  font-size: 17px;
  padding: 8px 20px;
}
.opt-links:hover{
  background-color: rgb(234, 234, 234);
}

#right-nav{
  /* width: 25%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}
#right-nav .nav-link:nth-child(2){
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}
#right-nav img:nth-child(1){
  height: 27px;
}
#right-nav img:nth-child(5){
  height: 32px;
}

#main-2{
  height: 100%;
  width: 100vw;
  background-color: white;
  padding: 0 130px;
}

#searcher{
  background: linear-gradient(to right, #03254100,#032541), url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/tt79dbOPd9Z9ykEOpvckttgYXwH.jpg');
  background-position: center;
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 70px 40px;
  color: white;
}
#heading{
  font-size: 25px;
}
#heading span{
  font-size: 33px;
  font-weight: 600;
}
form{
  background-color: rgb(255, 255, 255);
  height: 50px;
  border-radius: 30px;
}
#search{
  height: 100%;
  width: 92%;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 18px;
}
#search::-webkit-search-cancel-button{
  display: none;
}
#search-button{
  height: 101%;
  width: 8%;
  background: linear-gradient(to right, rgb(30,213,169) , rgb(1,180,228));
  border-radius: 30px;
  font-size: 17px;
  color: white;
  font-weight: 600;
  border: none;
  outline: none;
}
#page-1{
  height: 55vh;
  width: 100%;
  /* background-color: red; */
}
.header{
  /* background-color: blue; */
  display: flex;
  align-items: center;
  padding: 30px 40px;
  font-size: 25px;
  gap: 25px;
}
.header p{
  font-weight: 600;
}
.selector{
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  background-color: white;border: 1px solid #032541;

}
.selector span{
  padding: 7px 24px;
  cursor: pointer;
  z-index: 2;
}
.float{
  position: absolute;
  height: 100%;
  width: 60%;
  background-color: #032541;
  border-radius: 20px;
  transition: cubic-bezier(0.19, 1, 0.22, 1).2s;
}

#scroller{
  /* background-color: blue; */
  padding-left: 40px;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}
#main-link{
  color: black;
  text-decoration: none;
}
#scroller::-webkit-scrollbar{
  width: 100%;
  height: 8px;
  background-color: rgb(255, 255, 255);
  
}

#scroller::-webkit-scrollbar-thumb{
  /* width: 10px; */
  background-color: rgb(182, 182, 182);
  border-radius: 30px;
}
.cards{
  min-height: 400px;
  min-width: 170px;
  /* background-color: red; */
  position: relative;
}
.cards img{
  width: 100%;
  height: 63%;
  /* background-color: black; */
  border-radius: 10px;
}
.title{
  padding: 30px 10px;
}
.title h4{
  margin-bottom: 5px;
}
.rating{
  height: 40px;
  width: 40px;
  background-color: #1c1c1c;
  position: absolute;
  border-radius: 50%;
  transform: translate(30%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid rgba(255, 166, 0, 0.71);
  outline: 2px solid black;
}
sup{
  font-size: 7px;
}



.movies-main{
  display: flex;
  width: 100%;
  min-height: 100%;
  position: relative;
}
.left-1{
  width: 100%;
  min-height: 100%;
  /* border-right: 1px solid black; */
}

#scroller-2{
  /* background-color: blue; */
  /* padding-left: 40px; */
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  gap: 40px;
  overflow: hidden;
  margin-top: 100px;
  

  /* added while commenting out the left side if this page can be changed at the time of adding more features */
  margin-left: 150px;
  margin-right: 150px;
  justify-content: space-between;

}
.cards-2{
  height: 400px;
  width: 200px;
  display: inline-block;
  /* background-color: red; */
  position: relative;
  /* overflow: hidden; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.459);
  border-radius: 10px;


}
.cards-2 img{
  width: 100%;
  height: 70%;
  /* background-color: black; */
  border-radius: 10px;

}
::-webkit-scrollbar{
  width: 10px;
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(151, 151, 151);
}

.movie-page{
  width: 100%;
  /* background-color: red; */
  overflow: hidden;
}
.drop-downs{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
.drop-downs span{
  padding: 20px 20px;
}
.main-poster{
  height: 65vh;
  width: 100vw;
  padding: 5vh 7vw;
  display: flex;
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.704) calc((50vw - 170px) - 340px), rgba(0, 0, 0, 0.682) 50%, rgba(0, 0, 0, 0.447) 100%);
}
.main-img{
  position: absolute;
  /* background-color: blue; */
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  z-index: -1;
}
.main-img>img{
  object-fit: cover;
  height: 100%;
  width: 110%;
  /* object-position: 50% 35%; */
  object-position: left calc((50vw - 170px) - 340px) top;
  position: absolute;
  background-color: #032541;
}
.left-img{
  height: 100%;
  min-width: 330px;
  border-radius: 10px;
  /* background-color: red; */
  overflow: hidden;
}
.left-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main-poster-right{
  padding: 20px 50px;
}
.right-title{
  color: white;
  font-size: 18px;
  line-height: 35px;

}
.right-title span{
  font-weight: 300;
  letter-spacing: 1px;
}
.icons{
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 25px;
}
.icons .rating{
  height: 70px;
  width: 70px;
  position: relative;
  transform: translate(0,0);
  background-color: #032541;
  border: 5px solid red;
  outline: 5px solid #032541;
  font-size: 28px;
}
.listt{
  height: 50px;
  width: 50px;
  position: relative;
  background-color: #032541;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.listt img{
  padding: 15px;
  background-color: transparent;
}
.artist{
  display: block;
  line-height: 20px;
  margin-right: 50px;
  margin-bottom: 20px;
  font-size: 16px;
  min-width: 250px;
}
.cast{
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}